<div class="container pad">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Smart Buy</h1>
        <div class="list-group">
        <a *ngFor="let category of categories" class="list-group-item list-group-item-action" (click)="getProductsByCategory(category)">{{category}}</a>
        </div>

      </div>

      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products; let i=index;">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{product.name}}</a>
                </h4>
                <h5>{{product.price | currency:'INR'}}</h5>
                <p class="card-text text-success" *ngIf="product.quantity != 0">In Stock</p>
                <p class="card-text text-danger" *ngIf="product.quantity == 0">Out of Stock</p>
                <div>Quantity: <span class="badge badge-info">{{product.quantity}}</span></div>
                <div *ngIf="buyer">
                  <button *ngIf="!product.cart" [disabled]="product.quantity == 0" type="button" class="btn btn-info" (click)="addtoCart(product)">Add to cart</button>
                <button *ngIf="product.cart" [disabled]="true" type="button" class="btn btn-info" >In cart</button>
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted" *ngFor="let j of ' '.repeat(i%5).split('')"><span>&#9733;</span></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>